<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>A nodeJS-backed Markdown Blog</title>
  </head>
  <body>
    <div class="container">
      <h1>The Takeover</h1>
      <p class="mb-4">Only the hottest, freshest takes - Guaranteed.</p>
      <a href="/articles/new" class="btn btn-success">New Article</a>

      <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">
            <%= article.title %>
          </h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2">
            <%= article.description %>
            <div>
              <a href="articles/<%= article.slug %>" class="btn btn-primary"
                >Read More</a
              >
              <a href="articles/edit/<%= article.id %>" class="btn btn-info"
                >Edit</a
              >
                  <!-- why not just use a link tag to delete? Google clicks every link when indexing a site, which would delete everything from our DB -->
            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </div>
          
        
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
